*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color:rgb(230, 228, 228) ;
}

#main-container{
    border-top: 1px solid rgb(230, 228, 228);
    background-color: white;
}

#container{
    padding-top: 25px;
    padding-left: 25px;
    padding-bottom: 25px;
    
}

#logo{
    width: 70px;
    vertical-align: middle;
}

#main-page{
    width: 800px;
    border: 5px solid white;
    background-color: white;
    margin: 20px auto;
    border-radius: 15px;
}

#nav-space{
    padding-top: 10px;
    padding-bottom: 15px;
    padding: 20px;
    border-bottom: 2px solid rgb(230, 228, 228);
}

#list-space{
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    
}

h1{
    vertical-align: middle;
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
}

li{
    list-style-type: none;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

p{
   font-family: 'Oswald', sans-serif;
}

.button{
    border-radius: 5px;
    background-color: rgb(104, 223, 253);
    border-color: none;
    color: white;
}

.bubble{
    width: 20px;
    padding: 5px 10px;
    background-color:rgb(62, 212, 250) ;
    text-align: center;
    border-radius: 20px;
    color: white;
    font-size: 8px;
}

.editorial{
    background-color:rgb(62, 212, 250);
    color: white;
}

.goals{
    background-color: violet;
    color: white;
}

.recruiting{
    background-color: rgb(148, 247, 148);
    color: white;
}

.mobile{
    background-color: orange;
    color: white;
}

.website{
    background-color: rgb(216, 86, 173);
    color: white;
}

.sale{
    background-color: rgb(104, 161, 104);
    color: white;
}


